body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
  height: 100vh;
  background-image: url('https://raw.githubusercontent.com/jordanvanwyk/jordanvanwyk.github.io/3fe2efbe4db7a0f061c351a79bd009c32eb65a03/_includes/DSCN0854.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

p {
  width: 600px;
  margin: 0 auto 20px;
}

header .row, footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}

header p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('https://raw.githubusercontent.com/jordanvanwyk/jordanvanwyk.github.io/3fe2efbe4db7a0f061c351a79bd009c32eb65a03/_includes/DSCN0854.jpg');
    background-size: cover;
    color: #000;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #050505;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
}

.jumbotron h3 {
    font-size: 30px margin: 0 0 20px;
    color: #fff;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fff;
    text-shadow: none;
    background-color: #000000;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: rgb(180,110,130)
}

.btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
}

footer {
    font-size: 12px;
    padding: 20px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}
