body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:white;
    background-color: rgba(20, 20, 22,1)
}

header {
  margin: 0 auto 20px;
}

header .row, footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

header p {
    padding: 0 20px;
    margin: 0;
}
section.header {
    /* padding-left: 15px; */
    image-rendering: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    background-image: url(inspector-stylesheet);
}
.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('https://github.com/jordanvanwyk/jordanvanwyk.github.io/blob/master/_includes/Ecuador.jpg?raw=true');
    background-size: cover;
    color: #000;
    height: 100vh;
    text-shadow: 0.25px 0.25px 0.25px #050505;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
}

.jumbotron h3 {
    font-size: 30px margin: 0 0 20px;
    color: #fff;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
    align-items: center;
}

.col-lg-7 {
    display: flex
    align-items: center
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fff;
    text-shadow: none;
    background-color: #000000;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: rgb(180,110,130)
}

.btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
}

footer {
    font-size: 12px;
    padding: 20px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}
